<html>
<head></head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      The secret number is - <%= number %>
    </p>
  </body>
</html>
